.lesson {
	display: inline;
	float: left;
	width: 100%;
}

.lesson-nav {
	display: inline-block;
	width: 17%;
	height: 580px;
	overflow-y: auto;
	position: absolute;
}

.lesson-board {
	display: inline-block;
	float: right;
	width: 83%;
	
}

