.lesson-nav {
	display: inline-block;
	width: 17%;

	
	position: absolute;
}
.lesson-nav ul {
	overflow-y: auto;
	height: 540px;
	max-height: 540px;
}
li a {
	width: 100%;
	display: inline-block;
	max-height: 40px;
	overflow: hidden;
	text-align: center;
	font-size: 20px;
}

li {
	border-bottom:1px solid #ccc;
	max-height: 40px;
}

.search {
	border-radius: 13px;
	height: 40px;
}