
.homediv{
    background-size: cover;
    height: 100vh;
    z-index: 1;
    width: 100%;
    display: inline;
}
.hometxt{
   -webkit-appearance: none;
   display: inline-block;
   float: right;
   width: 61.8%;
   height: 100%;
   max-height: 100%;
}
.homecenter {
    display: inline;
    position: fixed;
    bottom: 0px;
    width: 61.8%;
}
.homeleft{
    margin-right: 0px;
    display: inline;  
}

.homeright {
    margin-left: 0px;
    display: inline;
}

.homecenter input{
    border-radius: 3px;
    height: 70px;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    resize: none;
    font-size: 2em;
    overflow: hidden;
    text-align: center;
}


.homeleft {
    background-color: #d37817;
}

.homeright {
    float: right;
    background-color:#097bed;
}
button {
    border-radius: 3px;
    max-height: 30px;
    height: 30px;
    font-size: 20px;;
    width:38.2%;
}
.taste {
    height: 100%;
    max-height: 100%;
}


.saltysweet {
    display: inline;
    width: 38.2%;
    float: right;
    height: 73.7vh;
}
