<div class="homediv">

    <div class="taste">
        <div class="sweet">
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <app-comment floatx='right'></app-comment>
            <a width='300px'>还想查看更多</a>
        </div>
        <div class="salty">
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <a width='300px'>还想查看更多</a>
        </div>
    </div>

    <div class='hometxt'>
        <div class="homeleft">
            <button (keyup.enter)="submit()">
                甜
            </button>
        </div>
        <div class="homecenter" >
            <input #awstext placeholder="← _ ← | → _ →" [ngStyle]="txtwidth" />
        </div>

        <div class="homeright">
            <button (keyup.enter)="submit()">
                咸
            </button>
        </div>

    </div>
</div>