<div class="homediv">

    <div class="taste">

        <div class="saltysweet">
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <app-comment></app-comment>
            <a width='300px'>还想查看更多</a>
        </div>
    </div>

    <div class='hometxt'>
        <div class="hometxtcnt">

        </div>
        <div class="homecenter">
            <div>
                <button (keyup.enter)="submit()" class="homeleft">
咸
                </button>
                <button (keyup.enter)="submit()" class="homeright">
甜
                </button>
            </div>

            <input placeholder="← _ ← | → _ →" [ngStyle]="txtwidth" 
                   (keyup)='check()' name='hometext' [(ngModel)]="hometext"/>

        </div>
    </div>
</div>